<!DOCTYPE html>
<html>
<head>
	<title>chat room login</title>
</head>
<body>
	<form method="post" action="/login/submit">
		<input type="text" name="username">
		<input type="submit" name="submitBtn" value="login">
	</form>
</body>
</html>